@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --card-background: 240 5.9% 10%;
    --bottom-nav-bg: 240 5% 7%;
    --pill-bg: 240 4% 15%;

    --text-primary: 0 0% 98%;
    --text-secondary: 240 5% 65%;
    --text-live: 350 100% 65%;

    --accent: 262 82% 65%;
    --border-color: 240 3.7% 15.9%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text-primary));
}
